<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="widthdevice-width, initial-scale=1.0">
        <style>
            main{
                border: 2px solid red;
                height: 100%;
                width: 100%;
            }
            header{
                border: 2px solid blue;
                height: 60px;
                margin: 10px 10px;
            }
            nav{
                border: 2px solid black;
                height: 30px;
                margin: 10px 10px;
            }
            section{
                border: 2px solid green;
                display: flex;
                margin: 10px 10px;
            }
            section3{
                border: 1px solid blue;
                
            }
            article{
                border: 2px solid gold;
                height: 140px;
                width: 400px;
                margin: 10px 10px;
            }
            aside{
                border: 3px solid black;
                height: 300px;
                width: 200px;
                margin: 10px 10px;
            }
            footer{
                border: 2px solid black;
                height: 30px;
                margin: 10px 10px;
            }
        </style>
        <title>Uno</title>
    </head>
    <body>
        <main>
            <header>
            </header>
            <nav></nav>
            <section>
                
                <section3>                    
                    <article>
                      <a href="/anis/1"> <%= @ani1.nombre %></a>
                    </article>
                    <article></article>                    
                </section3>
                <aside>
                  <h2> <%= @ani1.nombre %></h2>
                  <h2> <%= @ani1.estado %></h2>
                  <h2> <%= @ani1.documento %></h2>
                </aside>
            </section>
            <footer></footer>
        </main>
        
    </body>
</html>